<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   beers.plist
   Quiz

   Created by Ellen Mey on 5/20/16.
   Copyright (c) 2016 Ellen Mey. All rights reserved.
-->
<plist version="1.0">
    <array>
        
        <dict>
            <key>category</key>  <string>classic</string>
            <key>beers</key>  <string>Controversi-ALE, Evil Urges, Pan Galactic Gargle Blaster</string>
            <key>ans1</key>  <string>Founders</string>
            <key>ans2</key>  <string>Right Brain</string>
            <key>ans3</key>  <string>Shorts</string>
            <key>ans4</key>  <string>Atwater</string>
            <key>answer</key>  <string>3</string>
            <key>tip</key>  <string>Don't sell yourself short</string>
        </dict>
        
        <dict>
            <key>category</key>  <string>classic</string>
            <key>beers</key>  <string>Brother Benjamin, Unicorn Killer, Star Chicken Shotgun</string>
            <key>ans1</key>  <string>Griffin Claw</string>
            <key>ans2</key>  <string>Greenbush</string>
            <key>ans3</key>  <string>Thumbcoast</string>
            <key>ans4</key>  <string>Axle</string>
            <key>answer</key>  <string>2</string>
            <key>tip</key>  <string>A bird in the hand...</string>
        </dict>
        
        <dict>
            <key>category</key>  <string>classic</string>
            <key>beers</key>  <string>Undertaker, Big Red Coq, Wizard Burial Ground</string>
            <key>ans1</key>  <string>Brewery Vivant</string>
            <key>ans2</key>  <string>Motor City Brewing Works</string>
            <key>ans3</key>  <string>Darkhorse</string>
            <key>ans4</key>  <string>Mitten</string>
            <key>answer</key>  <string>1</string>
            <key>tip</key>  <string>These are some vivacious brews.</string>
        </dict>
        
        <dict>
            <key>category</key>  <string>classic</string>
            <key>beers</key>  <string>Hipster Brunch Stout, Bean Flicker Blonde, El Dankerino</string>
            <key>ans1</key>  <string>Hideout</string>
            <key>ans2</key>  <string>Draught Horse</string>
            <key>ans3</key>  <string>Batch Brewing</string>
            <key>ans4</key>  <string>Odd Side Ales</string>
            <key>answer</key>  <string>4</string>
            <key>tip</key>  <string>These ales are oddly delicious.</string>
        </dict>
        
        <dict>
            <key>category</key>  <string>classic</string>
            <key>beers</key>  <string>Cabin Fever, Carhartt Woodsman, Dragons Milk</string>
            <key>ans1</key>  <string>Tri-city Brewing</string>
            <key>ans2</key>  <string>Perrin</string>
            <key>ans3</key>  <string>New Holland</string>
            <key>ans4</key>  <string>Dragonmead</string>
            <key>answer</key>  <string>3</string>
            <key>tip</key>  <string>Tip toe through the tulips in this city where these are brewed.</string>
        </dict>
        
    </array>
</plist>
